{% extends 'base.html.twig' %}
{% block title %}Les Missions
{% endblock %}
{% block body %}
	<div class="container md-3">
		<h3 class="justify-content-center mt-5">Les Missions</h3>
	</div>
	<div class="container d-flex flex-wrap">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Titre</th>
					<th scope="col">Description</th>
					<th scope="col">Nom de code</th>
					<th scope="col">Pays</th>
					<th scope="col">Type</th>
					<th scope="col">Status</th>
					<th scope="col">Créée le</th>
					<th scope="col">Clôturée le</th>
					<th scope="col">Spécialité requise</th>
					<th scope="col">Planque(s)</th>
				</tr>
			</thead>
			<tr>
				<th scope="row">{{ mission.id }}
				</th>
				<td>{{ mission.title }}</td>
				<td>{{ mission.description }}</td>
				<td>{{ mission.nameCode }}</td>
				<td>{{ mission.country }}</td>
				<td>{{ mission.type }}</td>
				<td>{{ mission.status }}</td>
				<td>{{ mission.createdAt|date('Y-m-d H:i:s') }}</td>
				<td>{{ mission.closedAt|date('Y-m-d H:i:s') }}</td>
				<td>{{ mission.skills ?  mission.skills.id : "" }}</td>
				<td>{{ mission.hideout ? mission.hideout.id : "" }}</td>
			</tr>
		</table>
	</div>
</div>{% endblock %}
