{% extends 'base.html.twig' %}
{% block title %}Les Contacts
{% endblock %}
{% block body %}
	<div class="container">
		<h3 class="justify-content-center mt-5">Les Contacts
		</h3>
	</div>
	<div class="container d-flex flex-wrap">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Date de naissance</th>
					<th scope="col">Nom de Code</th>
					<th scope="col">Nationalité</th>
					<th scope="col">Modifier</th>
					<th scope="col">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for contact in contacts %}
					<tr>
						<th scope="row">{{ contact.id }}</th>
						<td>{{ contact.lastname }}</td>
						<td>{{ contact.firstname }}</td>
						<td>{{ contact.birthdayDate|date('Y-m-d H:i:s') }}</td>
						<td>{{ contact.nameCode }}</td>
						<td>{{ contact.nationality }}</td>
						<td>
							<a href="{{path('update_contact', {id: contact.id})}}">
								<i class="fas fa-edit"></i>
							</a>
						</td>
						<td>
							<a href="{{path('delete_contact', {id: contact.id})}}">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ knp_pagination_render(contacts)}}
		<div class="container d-flex flex-wrap">
			<a href="{{ path('app_registerContact') }}" class="btn btn-primary mt-3">
				Ajouter un contact</a>
		</div>
	</div>
</div>{% endblock %}
